@model BirthdayPerson

@{
    ViewData["Title"] = Model.Id == 0 ? "Добавить" : "Редактировать";
}

<div class="py-3 my-3 w-50">
    <h5 style="text-align: left; color: #146c43">@(Model.Id==0?"Добавить день рождения":"Редактировать день рождения")</h5>

    <form method="post" asp-action="@(Model.Id == 0 ? "AddBirthdayPost" : "EditBirthdayPost")" enctype="multipart/form-data">
        <div class="form-control-lg d-flex flex-column justify-content-between ">
            <input class="rounded-3" placeholder="Номер паспорта" name="Id" asp-for="Id" hidden="hidden">
            <br/>
            <input class="rounded-3" placeholder="Фамилия" type="text" name="Lastname" asp-for="Lastname">
            <br/>
            <input class="rounded-3" placeholder="Имя" type="text" name="Name" asp-for="Name">
            <br/>
            <input class="rounded-3" placeholder="Отчество" type="text" name="Surname" asp-for="Surname">
            <br/>
            <input class="rounded-3" placeholder="Дата рождения" type="date" name="BirthDate" asp-for="BirthDate">
            <br/>
            <input class="rounded-3" placeholder="Фотография" type="file" name="PhotoLink" asp-for="PhotoLink">
            <br/>
            <input class="btn-outline-primary" type="submit" value="Отправить">
        </div>
    </form>
   
</div>